MONGODB_URI=mongodb://hassan:7J9nqLBOWAMAloHM@ac-gsszrzz-shard-00-00.xk2pac8.mongodb.net:27017,ac-gsszrzz-shard-00-01.xk2pac8.mongodb.net:27017,ac-gsszrzz-shard-00-02.xk2pac8.mongodb.net:27017/?ssl=true&replicaSet=atlas-jvdyh2-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=uN8xPz5Lq3Rf7Vw2Ym1Hd4Ks9Bv0Ct6JpXy4Qz8Fj2Ln5Ur1
PORT=3001
